<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PATH_SOURCE" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_DATA_SHIPCONFIRM\Inbound"/>
		<add key="PRE_FIX" value="U_631_A2E_PCK"/>
		<add key="PRE_Naming" value="DCHShipConfirm"/>
    <add key="PRE_Naming_XML" value="U_601_E2A_INV"/>
		<add key="PATH_TARGET" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_DATA_SHIPCONFIRM\OutBound"/>
		<add key="PATH_BAK" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_DATA_SHIPCONFIRM\BackUp"/>

    <add key="WHSE_ID" value="631"/>
    <!--PRD 601-->
    <add key="CLIENT_ID" value="31036631"/>
    <!--CLIENT_ID-->
    <!--Country code + Agency code + WHS Code (31+ 288+631)-->
    
    
		<add key="MailFrom" value="SurasakNaka@DCH-Holdings.com"/>
		<add key="MailTo" value="SurasakNaka@DCH-Holdings.com"/>
		<add key="SMTP" value="10.15.52.6"/>
		<add key="sSubjectmail" value="Convert Ship XML to TXT"/>

    <add key="FtpSync_Inbound" value="Inbound_SHIPCONFIRM.bat"/>
    <add key="FtpSync_Outbound" value="Outbound_SHIPCONFIRM.bat"/>
    <add key="WorkingDirectory" value="C:\FtpSync\"/>



	</appSettings>
</configuration>