<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PATH_TARGET" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_DATA_PICK\OutBound"/>
		<add key="PRE_FIX" value="DCHPL"/>
		<add key="PATH_BAK" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_DATA_PICK\BackUp"/>
		<add key="PATH_Error" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_DATA_PICK\Errorr"/>
		<add key="PRE_Naming" value="P_601_E2A_ORD"/>
		
		<add key="USER_NAME" value="lfasia.com\\SurasakNaka"/>
		<add key="PASSWORD" value="Aug@2019"/>
		<add key="PATH_SOURCE" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_DATA_PICK\Inbound"/>
		<!--\dchthfs$\09_IT\AOD\Inbound\-->
		<add key="MailFrom" value="SurasakNaka@DCH-Holdings.com"/>
		<add key="MailTo" value="SurasakNaka@DCH-Holdings.com"/>
		<add key="SMTP" value="10.15.52.6"/>
		<add key="sSubjectmail" value="Convert PICK Text to XML"/>


		<add key="WHSE_ID" value="631"/> <!--PRD 601-->
		<add key="CLIENT_ID" value="31036631"/> <!--CLIENT_ID--><!--Country code + Agency code + WHS Code (31+ 288+631)-->
		<add key="PRT_CLIENT_ID" value="31036631"/>
    
    <add key="FtpSync_Inbound" value="Inbound_PICK.bat"/>
    <add key="FtpSync_Outbound" value="Outbound_PICK.bat"/>
    <add key="WorkingDirectory" value="C:\FtpSync\"/>
 
	
	</appSettings>
</configuration>