<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PATH_SOURCE" value="C:\DCH_CONVERT_DATA\DCH_A2E_RCV_PO\Inbound"/>
		<add key="PRE_FIX" value="U_631_A2E_RCV"/>
		<add key="PRE_Naming" value="DCHPOReceipt"/>
		<add key="PATH_TARGET" value="C:\DCH_CONVERT_DATA\DCH_A2E_RCV_PO\OutBound"/>
		<add key="PATH_BAK" value="C:\DCH_CONVERT_DATA\DCH_A2E_RCV_PO\BackUp"/>

		<add key="MailFrom" value="SurasakNaka@DCH-Holdings.com"/>
		<add key="MailTo" value="SurasakNaka@DCH-Holdings.com"/>
		<add key="SMTP" value="10.15.52.6"/>
		<add key="sSubjectmail" value="Convert A2E_RCV XML to TXT"/>

    <add key="FtpSync_Inbound" value="Inbound_A2E_RCV_PO.bat"/>
    <add key="FtpSync_Outbound" value="Outbound_A2E_RCV_PO.bat"/>
    <add key="WorkingDirectory" value="C:\FtpSync\"/>

	</appSettings>
</configuration>