<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="Constr" value="Data Source=10.15.52.23;Initial Catalog=MntMail;Persist Security Info=True;User ID=sa;Password=sasa"/>--> <!--PRD-->
		<add key="Constr" value="Data Source=10.15.52.23;Initial Catalog=POD_31;Persist Security Info=True;User ID=sa;Password=sasa"/> <!--DEV-->
	</appSettings>
</configuration>