<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PATH_SOURCE" value="C:\DCH_CONVERT_DATA\DCH_E2A_RCV_PO\Inbound"/>
		<add key="PRE_FIX" value="DCHPO"/>
		<add key="PRE_Naming" value="U_631_E2A_RCV"/> <!--P_601_E2A_RCV-->
		<add key="PATH_TARGET" value="C:\DCH_CONVERT_DATA\DCH_E2A_RCV_PO\OutBound"/>
		<add key="PATH_BAK" value="C:\DCH_CONVERT_DATA\DCH_E2A_RCV_PO\BackUp"/>

		<add key="MailFrom" value="SurasakNaka@DCH-Holdings.com"/>
		<add key="MailTo" value="SurasakNaka@DCH-Holdings.com;pakpoomthongtawee@dch-holdings.com"/>
		<add key="SMTP" value="10.15.52.6"/>
		<add key="sSubjectmail" value="Convert E2A_RCV Text to XML"/>

		<add key="SUPNUM" value="31036631"/> <!--Supplier No. (N8)-->
		<add key="CLIENT_ID" value="31036631"/> <!--CLIENT_ID--> <!--Country code + Agency code + WHS Code (31+ 288+631)-->
		<add key="WHSE_ID" value="631"/>  <!--PRD 601-->


    <add key="FtpSync_Inbound" value="Inbound_E2A_RCV_PO.bat"/>
    <add key="FtpSync_Outbound" value="Outbound_E2A_RCV_PO.bat"/>
    <add key="WorkingDirectory" value="C:\FtpSync\"/>

	</appSettings>
</configuration>