<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PATH_SOURCE" value="C:\DCH_CONVERT_DATA\DCH_Delivery_Confirm\Inbound"/>
		<add key="PRE_FIX" value="P_631_A2E_SHP"/>
		<add key="PRE_Naming" value="DCHDeliveryConfirm"/>
		<add key="PATH_TARGET" value="C:\DCH_CONVERT_DATA\DCH_Delivery_Confirm\OutBound"/>
		<add key="PATH_BAK" value="C:\DCH_CONVERT_DATA\DCH_Delivery_Confirm\BackUp"/>
    <add key="sCompany" value="00125"/>
    
		<add key="MailFrom" value="SurasakNaka@DCH-Holdings.com"/>
		<add key="MailTo" value="SurasakNaka@DCH-Holdings.com"/>
		<add key="SMTP" value="10.15.52.6"/>
		<add key="sSubjectmail" value="Convert Delivery XML to TXT"/>

    <add key="FtpSync_Inbound" value="Inbound_Delivery_Confirm.bat"/>
    <add key="FtpSync_Outbound" value="Outbound_Delivery_Confirm.bat"/>
    <add key="WorkingDirectory" value="C:\FtpSync\"/>
    
	</appSettings>
</configuration>